*/cache/*
*/chroot*
*/.stage/*
*/.lock
*/binary*
*/.build/*
*/build.log
*/live-image-amd64.*
*/ronolinux-*

*/config/binary
*/config/bootstrap
*/config/build
*/config/chroot
*/config/common
*/config/source
*/config/hooks/live/*
*/config/hooks/normal/*